.container-object {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h6 {
    padding: .5rem 0 .5rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
    max-height: 70px;
}

.comparisonNumber {
    font-size: .8rem;
    vertical-align: bottom;
    display: table-cell;
}

.scoreNumber {
    font-size: 2rem;
    margin: 0;
    vertical-align: bottom;
    display: table-cell;
    line-height: 40px;
}

.number-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

.first-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: fit-content;
}