<div class="card" *ngIf="formData">
  <div class="card-header">
    <div class="headInfo">
      <span>Event Measures</span>
      <cds-icon shape="info-circle"></cds-icon>
    </div>
  </div>
  <div class="card-body">
    <div class="clr-row">
      <div class="clr-col-4">
        <div class="chart-container">
          <div class="polar-chart-wrapper">
            <ngx-charts-bar-horizontal-normalized
              [legend]="overall_legend"
              [legendTitle]="overall_legendTitle"
              [results]="formData.SatisfactionInput"
              [scheme]="'natural'"
              [yAxis]="overall_showYAxis"
              [legend]="overall_showLegend"
              [showXAxisLabel]="overall_showXAxisLabel"
              [showYAxisLabel]="overall_showYAxisLabel"
              [xAxisLabel]="overall_xAxisLabel"
              [yAxisLabel]="overall_yAxisLabel">
            </ngx-charts-bar-horizontal-normalized>
          </div>
          <clr-tooltip><h6 class="description" clrTooltipTrigger>Overall Experience</h6>
            <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
              <span>Shows the OVERALL EXPERIENCE of people participating in this hackathon.</span>
            </clr-tooltip-content>
          </clr-tooltip>
        </div>
      </div>
      <div class="clr-col-5 flex-display">
        <div class="chart-container" >
          <div class="polar-chart-wrapper">
            <ngx-charts-polar-chart
              appPolarChartMarginRemoval
              [legend]="polar_legend"
              [legendTitle]="polar_legendTitle"
              [scheme]="'natural'"
              [showXAxisLabel]="polar_showXAxisLabel"
              [showYAxisLabel]="polar_showYAxisLabel"
              [xAxis]="polar_xAxis"
              [yAxis]="polar_yAxis"
              [results]="formData.SessionInput">
            </ngx-charts-polar-chart>
          </div>
          <clr-tooltip><h6 class="description" clrTooltipTrigger>Rating about Satisfaction, Usefulness and Helpfulness</h6>
            <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
              <span>Shows the rating about how satisfied, useful and helpful in the following sessions.</span>
            </clr-tooltip-content>
          </clr-tooltip>
        </div>
      </div>
      <div class="clr-col-3 flex-display">
          <div class="chart-container" >
            <div class="chart-wrapper">
              <ngx-charts-pie-chart
                appChartMarginRemoval
                [legend]="true"
                [legendTitle]="''"
                [scheme]="'natural'"
                [results]="formData.FutureInput"
                [doughnut]="true"
                [arcWidth]="0.5"
                [legendPosition]="below">
              </ngx-charts-pie-chart>
            </div>
            <clr-tooltip><h6 class="description" clrTooltipTrigger>Future Participation Intentions</h6>
              <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
                <span>Shows weather a participant plans to participate in a similar event in the future or not.</span>
              </clr-tooltip-content>
            </clr-tooltip>
          </div>
      </div>
    </div>
  </div>
</div>
