<div class="card" *ngIf="formData">
    <div class="card-header">
        <div class="headInfo">
            <span>Demographics & Background</span>
            <cds-icon shape="info-circle"></cds-icon>
        </div>
    </div>
    <div class="card-body">
        <div class="clr-row">
            <div class="clr-col-4">
                <div class="chart-container">
                    <div class="chart-wrapper">
                        <ngx-charts-bar-vertical
                        [results]="formData.age"
                        [xAxis]="true"
                        [barPadding]="2"
                        [showYAxisLabel]="true"
                        [yAxis]="true"
                        [trimYAxisTicks]="false"
                        [scheme]="'natural'"
                        [rotateXAxisTicks]="false"
                        [trimXAxisTicks]="true"
                        [maxXAxisTickLength]="7">
                        </ngx-charts-bar-vertical>
                    </div>
                    <clr-tooltip><h6 class="description" clrTooltipTrigger>Age distribution</h6>
                    <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
                        <span>Shows the distribution of age reported by the participants.</span>
                    </clr-tooltip-content>
                    </clr-tooltip>
                </div>
            </div>
            <div class="clr-col-2">
                <app-comparison-average-sd-list
                    [answerList]="formData.education"
                    [captionText]="'Educational status'"
                    [captionTooltip]="'Shows the percentage of the highest reported educational status.'">
                </app-comparison-average-sd-list>
            </div>
            <div class="clr-col-3">
                <div class="pie-chart-container">
                    <div class="pie-outer-chart-wrapper">
                        <div class="pie-chart-wrapper">
                            <ngx-charts-pie-chart
                            appChartMarginRemoval
                            [results]="formData.minority"
                            [labels]="false"
                            [scheme]="'natural'"
                            [doughnut]="true"
                            [arcWidth]="0.5"
                            [legend]="true"
                            [legendTitle]="''"
                            [legendPosition]="below">
                            </ngx-charts-pie-chart>
                        </div>
                    </div>
                    <div class="tooltip-container">
                        <clr-tooltip>
                            <h6 class="description" clrTooltipTrigger>Considered as minority</h6>
                            <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
                                <span>Shows the amount of participants that consider themselves as a minority.</span>
                            </clr-tooltip-content>
                        </clr-tooltip>
                    </div>
                </div>
            </div>
            <div class="clr-col-3">
                <app-gender-distribution [genderData]="formData?.gender" [captionText]="'Gender distribution'" [captionTooltip]="'Shows the distribution of genders.'"></app-gender-distribution>
            </div>
        </div>
    </div>
</div>
