.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: .2rem;
}

h6 {
    margin: 0;
    padding: .5rem 0 .5rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-self: flex-end;
}

.list-wrapper {
    align-self: flex-start;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: .5rem;
}

.table {
    height: 100%;
    margin: 0;
}

td {
    vertical-align: middle;
    font-size: medium;
}