<div class="main-container">
    <header class="header 6">
        <div class="branding"><div class="title">Dashathon</div></div>
        <div class="header-actions">
<!--            <a [routerLink] class="nav-link nav-icon" aria-label="settings">-->
              <cds-icon shape="cog"></cds-icon>
<!--            </a>-->
        </div>
    </header>

    <div class="content-container">
<!-- Updated upstream -->
        <div class="content-area wrapper" style="padding: .6rem">
            <div class="clr-row">
                <div class="clr-col-1 button-list">
                    <button (click)="distribution.first = widgets.teamProcess"
                     [ngClass]="distribution.first === widgets.teamProcess ? 'btn-primary' : 'btn-link'" class="btn">
                     Team Process
                    </button>
                    <button (click)="distribution.first = widgets.demographics"
                     [ngClass]="distribution.first === widgets.demographics ? 'btn-primary' : 'btn-link'" class="btn">
                     Demographics
                    </button>
                    <button (click)="distribution.first = widgets.individualProgramming"
                     [ngClass]="distribution.first === widgets.individualProgramming ? 'btn-primary' : 'btn-link'" class="btn">
                     Programming Experience
                    </button>
                </div>
                <div class="clr-col-11">
                    <app-programming-experience-widget *ngIf="distribution.first === widgets.individualProgramming"
                    [formData]="(responseService.individualProgrammingExperience|programmingExperiencePipe)"></app-programming-experience-widget>
                    <app-demographics-widget *ngIf="distribution.first === widgets.demographics"
                    [formData]="(responseService.demographicsIndividualBackground|demographicsPipe)"></app-demographics-widget>
                    <app-team-process *ngIf="distribution.first === widgets.teamProcess"
                    [formData]="(responseService.teamProcess|teamProcessPipe)"></app-team-process>
                </div>
            </div>
            <div class="clr-row">
                <div class="clr-col-1 button-list border">
                    <button (click)="distribution.second = widgets.teamComposition"
                     [ngClass]="distribution.second === widgets.teamComposition ? 'btn-primary' : 'btn-link'" class="btn">
                     Team Composition
                    </button>
                    <button (click)="distribution.second = widgets.mentoring"
                     [ngClass]="distribution.second === widgets.mentoring ? 'btn-primary' : 'btn-link'" class="btn">
                     Mentoring
                    </button>
                    <button (click)="distribution.second = widgets.communityMeasures"
                     [ngClass]="distribution.second === widgets.communityMeasures ? 'btn-primary' : 'btn-link'" class="btn">
                     Community Measures
                    </button>
                </div>
                <div class="clr-col-11">
                    <app-mentoring-widget *ngIf="distribution.second === widgets.mentoring"
                    [formData]="(responseService.mentoring|mentoringPipe)"></app-mentoring-widget>
                    <app-community-measures-widget *ngIf="distribution.second === widgets.communityMeasures"
                    [formData]="(responseService.communityMeasures|communityMeasuresPipe)"></app-community-measures-widget>
                    <app-team-composition *ngIf="distribution.second === widgets.teamComposition"
                    [formData]="(responseService.teamComposition|teamCompositionPipe)"></app-team-composition>
                </div>
            </div>
            <div class="clr-row">
                <div class="clr-col-1 button-list border">
                    <button (click)="distribution.third = widgets.individualMeasures" [ngClass]="distribution.third === widgets.individualMeasures ? 'btn-primary' : 'btn-link'" class="btn">Individual Measures</button>
                    <button (click)="distribution.third = widgets.eventMeasures1" [ngClass]="distribution.third === widgets.eventMeasures1 ? 'btn-primary' : 'btn-link'" class="btn">Event Measures</button>
                    <button (click)="distribution.third = widgets.eventMeasures2" [ngClass]="distribution.third === widgets.eventMeasures2 ? 'btn-primary' : 'btn-link'" class="btn">Recommendations</button>
                    <button (click)="distribution.third = widgets.projectMeasures"
                     [ngClass]="distribution.third === widgets.projectMeasures ? 'btn-primary' : 'btn-link'" class="btn">
                     Project Measures
                    </button>
                </div>
                <div class="clr-col-11">
                    <app-motivation-widget *ngIf="distribution.third === widgets.individualMeasures"
                    [formData]="(responseService.individualMeasures|individualMeasuresPipe)"></app-motivation-widget>
                    <app-project-measures-widget *ngIf="distribution.third === widgets.projectMeasures"
                    [formData]="(responseService.projectMeasures|projectMeasuresPipe)"></app-project-measures-widget>
                    <app-event-measures-widget *ngIf="distribution.third === widgets.eventMeasures1"
                    [formData]="(responseService.eventMeasures|eventMeasuresPipe)" ></app-event-measures-widget>
                    <app-event-measures-widget-farther *ngIf="distribution.third === widgets.eventMeasures2"
                    [formData]="(responseService.eventMeasures|eventMeasuresFartherPipe)"></app-event-measures-widget-farther>
<!--                    <app-polar-chart *ngIf="distribution.third === widgets.eventMeasures"></app-polar-chart>-->
<!--                    <app-motivation-widget *ngIf="distribution.third === widgets.individualMeasures"></app-motivation-widget>-->
                </div>
            </div>
<!--          <div><app-polar-chart></app-polar-chart ></div>-->
        </div>
    </div>
</div>
