<div class="container-object">
    <div class="number-wrapper">
        <div class="first-row">
            <td class="scoreNumber">
                {{bestPossibleNumber ? '' : '~'}}{{scoreNumber}}
            </td>
            <td class="comparisonNumber">
                {{bestPossibleNumber ? '/' + bestPossibleNumber : ''}}
            </td>
        </div>
        <div *ngIf="sd" class="second-row">
            <i>SD: {{sd}}</i>
        </div>
    </div>
    <clr-tooltip><h6 class="description" clrTooltipTrigger>{{captionText}}</h6>
        <clr-tooltip-content clrPosition="{{tooltipLeft ? 'top-left' : 'top-right'}}" clrSize="lg" *clrIfOpen>
            <span>{{captionTooltip}}</span>
        </clr-tooltip-content>
    </clr-tooltip>
</div>
